# =====================================================================
# National Harold Campus Library (LibraManage)
# Environment Variables Example Specification
# =====================================================================

# Server Deployment Env
NODE_ENV=production
PORT=3000

# Django Microservice settings
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=*

# Optional Integrations
GEMINI_API_KEY=
